@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


body{
    margin-top: 15%;
    background-color: black;
    padding: 10px;
    font-family: "Inter", sans-serif;
}



header{
    padding: 5%;
    text-align: center;
    font-size: 2rem;
    color: white;
    background-image: linear-gradient(#1B1A55,black);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

header p{
    font-size: 1.5rem;
}

ul{
    display: flex;
    list-style: none;
}

nav{
    height: 88px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

a{
    text-decoration: none;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: whitesmoke;
    margin: 1px;
    text-align: center;
    transition: color 0.3s ease; 
}

a:hover{
    color: #9290C3;
    transform: translateY(-5px);
  }

  .image1{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 5px whitesmoke solid;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(169, 88, 216, 0.5));
  }

  .one{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px whitesmoke solid;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(169, 88, 216, 0.5));
  }

  .two{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px whitesmoke solid;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(169, 88, 216, 0.5));

  }

.pictures{
    display: flex;
    justify-content: space-around;
    padding: 100px;
}

  .image1:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

.one:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}
.two:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

  .projects{
    padding: 100px;
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
  }

  .image2{
    height: 400px;
    width: 300px;
    border: 5px #9290C3 solid;
    margin-left: 15%;
    padding: 10px;
  }

  .image2:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}
  .intro{
    color: #9290C3;
    font-size: 3rem;
    text-align: center;
    padding: 70px;
  }

  .aboutme{
    color: whitesmoke;
    padding: 20px;
    text-align: center;
  }

  .Personalinfo p{
    font-size: 1.3rem;
    text-align: center;
    width: 50%;
    margin-left: 25%;

  }

 .Education, .Skills{
    text-align: center;
 }

  .p{
    color: #9290C3;
    text-align: center;
    font-size: 3rem;
    padding: 20px;
  }

  .project1 p, .project2 p, .project3 p{
    color: whitesmoke;
    text-align: center;
    width: 60%;
    margin-left: 13%;
    padding: 10px;
  }

  .projects h1{
    color:whitesmoke;
    text-align: center;
    margin-right: 13%;
    
  }

  footer{
   background-image: linear-gradient(black, #1b1a55);
    padding: 100px;
    color: whitesmoke;

  }
  
  footer p{
    margin-top: 20px;
    text-align: center;

  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #9290C3;;;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #8e8df0;
  }
  
  .container {
    width: 25%;
    margin-left: 37%;
    border-radius: 5px;
    background-image: url('stars.webp') ;
    padding: 50px;
    
  }

  .submit{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button{
    padding: 8px;
    background-color: #9290C3;
    margin-left: 35%;
    border-radius: 10px;
  }

  button:hover{
    background-color: #8e8df0;
  }
  
